<div class="row medium-8 large-7 columns">
    <div class="blog-post">
        <h3>{{post.title}} <small>{{format_date date_created}}</small></h3>
        <p> {{post.content}} </p>
        <div class="callout">
            <ul class="menu simple">
                <li><a href="#">Author: {{user.name}}</a></li>
                <li>comments<a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
                </li>
            </ul>
        </div>
    </div>