
<section class="pageTitle">
  <h1>Tech-Blog</h1>
</section>

<div class="postCard">
  <div class="postTitle">
    <h2>{{ post.title }}</h2>
    <h4>Posted by {{ post.user.username }} on {{ format_date date_created }}</h3>
  </div>
  <p>{{ post.content }}</p>
</div>

{{#each post.comments as |comment| }}
{{> comment }}
{{/each}}

{{#if logged_in}}
<div class="commentCard">
  <div class="commentTitle">
    <h2> </h2>
  </div>
  <form class="comment-form">
    <div class="form-group">
      <label for="comment-post">Comment</label><br>
      <input class="form-input" type="text" id="comment-post">
    </div>
    <input type="hidden" id="postID" name="postID" value="{{ post.id }}">
    <div class="form-group">
      <button class="commentBtn" type="submit">Submit</button>
    </div>
  </form>
</div>
<script src="../public/js/comment.js"></script>
{{/if}}

